.banner {
  width: 100%;
  position: relative;
}

.banner img {
  width: 100%;
}

.banner-txt {
  position: absolute;
  color: #fff;
  margin-top: -15%;
  margin-left: 40%;
}

/* 認養流程 */

.flow {
  display: flex;
  width: 960px;
  margin: auto;
  text-align: center;
}

.flow-icon {
  width: 100px;
  margin: auto;
}

.flow-pic img {
  border-radius: 50%;
  width: 50%;
}

.flow h2,
h2 {
  text-align: center;
  margin: 50px;
}

.need h3 {
  margin: 40px;
}

.need p {
  margin: auto;
  line-height: 2em;
  text-indent: 4em;
  font-size: 18px;
}

.need img {
  width: 7%;
  display: inline;
  padding: 4px;
  margin: 6px;
  text-align: center;
  vertical-align: middle;
}
/* vertical-align: middle; 是inline物件才能用，水平對其。 */

/* 認養須知 */

.need {
  display: flex;
  justify-content: center;
  align-items: center;
}
